@import 'sass/reset';
@import 'sass/mixins';
@import 'sass/scaffold';
@import 'sass/type';
@import 'sass/helpers';
@import 'sass/nav';

@import 'sass/sections/hero';
@import 'sass/sections/times';
@import 'sass/sections/about';
@import 'sass/sections/team';
@import 'sass/sections/aveda';
@import 'sass/sections/servicelist';
@import 'sass/sections/gallery';
@import 'sass/sections/products';
@import 'sass/sections/contact';
@import 'sass/sections/footer';
