.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.paragraph-margin {
  margin-bottom: 20px;
  @include media-query(sm) {
    margin-bottom: 30px;
  }
}
.hidden-sm {
  display: none;
  @include media-query(sm) {
    display: inline-block;
  }
}
.visible-sm {
  display: inline-block;
  @include media-query(sm) {
    display: none;
  }
}
.hide {
  display: none !important;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.mb-1 {
  margin-bottom: 10px;
}
.text-sm {
  font-size: .875rem;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes tada {
  0% {
    transform: scale(1) translateY(0);
  }

  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

.tada {
  animation-name: tada;
}
