.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.paragraph-margin {
  margin-bottom: 20px;
  @include media-query(sm) {
    margin-bottom: 30px;
  }
}
.hidden-sm {
  display: none;
  @include media-query(sm) {
    display: inline-block;
  }
}
.visible-sm {
  display: inline-block;
  @include media-query(sm) {
    display: none;
  }
}
.hide {
  display: none !important;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
