.text-right {
  text-align: right;
}
.paragraph-margin {
  margin-bottom: 20px;
  @include media-query(sm) {
    margin-bottom: 30px;
  }
}
.hidden-sm {
  display: none;
  @include media-query(sm) {
    display: inline-block;
  }
}
.visible-sm {
  display: inline-block;
  @include media-query(sm) {
    display: none;
  }
}

#section1, #section2 {
  height: 1000px;
}
