header {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #1B1B1B;
  z-index: 100;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.header-alert {
  background-color: #B0966C;
  color: #FFFFFF;
  padding: 15px;
  a, p {
    color: #FFFFFF;
  }
}
.nav-links {
  list-style: none;
  display: table;
  width: 100%;
  @include media-query(sm) {
    display: block;
  }
}
.nav-link {
  display: table-cell;
  width: 20%;
  @include media-query(sm) {
    display: inline-block;
    width: auto;
  }
  a {
    display: block;
    width: auto;
    padding: 15px 0 12px;
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 17px;
    text-decoration: none;
    color: #6D6D6D;
    transition: all 0.5s ease;
    border-bottom: 4px solid transparent;
    .wf-loading & {
      font-size: 15px;
    }
    &:hover, &:focus, &.active {
      color: #B0966C;
      border-color: #B19669;
    }
    @include media-query(sm) {
      font-size: 22px;
      padding: 29px 0 25px;
      width: 130px;
      .wf-loading & {
        font-size: 18px;
      }
    }
  }
}
