nav {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #1B1B1B;
  z-index: 100;
}
.nav-links {
  list-style: none;
}
.nav-link {
  display: inline-block;
  a {
    display: block;
    width: 70px;
    padding: 15px 0 12px;
    font-family: 'refrigerator-deluxe', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 17px;
    text-decoration: none;
    color: #6D6D6D;
    transition: all 0.3s ease;
    border-bottom: 4px solid transparent;
    &:hover, &:focus, &.active {
      color: #B0966C;
      border-color: #B19669;
    }
    @include media-query(sm) {
      font-size: 22px;
      padding: 29px 0 25px;
      width: 130px;
    }
  }
}
