//
// Scaffold
// --------------------------------------------------

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'open-sans', sans-serif;
  background-color: #1B1B1B;
  color: #6D6D6D;
  padding-top: 48px;
  @include media-query(sm) {
    padding-top: 80px;
  }
}
img {
  max-width: 100%;
}
a {
  color: #B0966C;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.col-half {
  width: 100%;
  float: none;
  padding: 0 15px;
  @include media-query(sm) {
    width: 50%;
    float: left;
  }
}
.col-half-right {
  margin-left: 0;
  @include media-query(sm) {
    margin-left: 50%;
  }
}
