h1, h2, h3 {
  font-family: $heading-font;
  text-transform: uppercase;
  font-weight: 300;
}
h1 {
  font-size: 35px;
  color: #EBEBEB;
  margin: 0 auto;
  .wf-loading & {
    font-size: 30px;
  }
}
h3 {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 15px;
  color: #B0966C;
  @include media-query(sm) {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 20px;
  }
}
p {
  font-size: 15px;
  line-height: 30px;
  color: #6D6D6D;
  @include media-query(sm) {
    font-size: 17px;
    line-height: 35px;
  }
}
.small-text {
  font-size: 10px;
  line-height: 17px;
  @include media-query(sm) {
    font-size: 12px;
  }
}
