!!! 5
%html
  /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %head
    %meta{:charset => "UTF-8"}
    %title= "EDIT | Hair and beauty salon in Sheffield"
    %meta{:content => "Edit salon is a hairdressing and beauty salon based in Aston, Sheffield.", :name => "Description"}
    %meta{:content => "hairdressing, salon, beauty, hairdressing in rotherham, hairdressing in sheffield, hairdressers, hairdressers in rotherham, hairdressers in sheffield, hair cut, barbers, stylist", :name => "keywords"}
    %link{:href => "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "/apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "/favicon-194x194.png", :rel => "icon", :sizes => "194x194", :type => "image/png"}
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "/android-chrome-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/manifest.json", :rel => "manifest"}
    %link{:color => "#5bbad5", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}
    %meta{:content => "#da532c", :name => "msapplication-TileColor"}
    %meta{:content => "/mstile-144x144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#ffffff", :name => "theme-color"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}

  %body
    %header
      .header-alert
        %p
          Full time hairstylist required - Send your CV to
          %a{href: "mailto:editsalon@hotmail.com"} editsalon@hotmail.com
      %nav
        %ul.nav-links
          %li.nav-link
            %a{href: "#section-about"}
              About
              %span.hidden-sm us
          %li.nav-link
            %a{href: "#section-aveda"}
              Aveda
          %li.nav-link
            %a{href: "#section-servicelist"}
              Service
              %span.hidden-sm list
          %li.nav-link
            %a{href: "#section-gallery"}
              Gallery
          %li.nav-link
            %a{href: "#section-contact"}
              Contact
              %span.hidden-sm us
  .content
    .section-hero#hero
      %a{href: "#section-about", class: "section-hero__scroll scroll"} Scroll down the page
      .table-cell
        .row
          %h1.section-hero__logo
            %img{src: "images/hero-logo.png", alt: "Edit Salon logo"}
            .sr-only Welcome to Edit Salon, hair and beauty

    // SECTION ABOUT
    #section-about
      .section-times
        .row
          %h3 Opening times
          .times-container
            .times-item.hide
            .times-item.hide
            .times-item
              .times-day__heading
                Tuesday
                .visible-sm /
              .times-day__detail
                %div
                  %span.hidden-sm Open -
                  9:30
                %div
                  %span.hidden-sm Close
                  \- 17:00
            .times-item
              .times-day__heading
                Wednesday
                .visible-sm /
              .times-day__detail
                %div
                  %span.hidden-sm Open -
                  10:00
                %div
                  %span.hidden-sm Close
                  \- 20:00
            .times-item
              .times-day__heading
                Thursday
                .visible-sm /
              .times-day__detail
                %div
                  %span.hidden-sm Open -
                  10:00
                %div
                  %span.hidden-sm Close
                  \- 20:00
            .times-item
              .times-day__heading
                Friday
                .visible-sm /
              .times-day__detail
                %div
                  %span.hidden-sm Open -
                  9:30
                %div
                  %span.hidden-sm Close
                  \- 17:00
            .times-item
              .times-day__heading
                Saturday
                .visible-sm /
              .times-day__detail
                %div
                  %span.hidden-sm Open -
                  9:00
                %div
                  %span.hidden-sm Close
                  \- 16:00

      .section-about
        .section-about__background
        .row
          .col-half.col-half-right.section-about__text
            %h3 Who we are
            %p.paragraph-margin Welcome to Edit Salon set in Aston cum Aughton, Sheffield. Edit is a boutique contemporary salon specialising in hair and beauty and is part of the Aveda flagship. It's a space to relax and unwind and be pampered. Our expert team are trained with Aveda to the highest level to create bespoke colours especially for you. Our focus is creating a style that is adaptable for each individuals homelife as well as making their experience an unforgettable one!

            %p
              Call us to book:
              %a{href: "tel:+441142879721"} 0114 287 9721

      .section-team
        .section-team__container
          %ul.team-list
            %li.team-list__item
              .team-list__photo
                %img{src: "images/Nicola.jpeg", alt: "Photo of Abby"}
              .team-list__bio
                %h3.mb-1 Abby
                .mb-1
                  %strong Salon Founder & Creative Director
                %p.small-text Abby has 10years experience in the hair industry and is immensely passionate about training. Abby has trained at Vidal Sassoon academy in London and has frequently attended London Fashion week. She states; 'Training is extremely important to me for keeping up to date with the latest trends, if you don't keep training you get left behind! That's the beauty of this industry, you are always learning.'
            %li.team-list__item
              .team-list__photo
                %img{src: "images/Lindsey.jpeg", alt: "Photo of Becky"}
              .team-list__bio
                %h3.mb-1 Becky
                .mb-1
                  %strong Senior Stylist
                %p.small-text Becky has been in the industry for 6 years as a hairstylist. She is naturally outgoing helping to put her guests at ease. She believes that listening to her guests is key when trying to achieve their desired look. Taking time to give a thorough consultation before she starts creating something amazing!
            %li.team-list__item
              .team-list__photo
                %img{src: "images/Nicola.jpeg", alt: "Photo of Lois"}
              .team-list__bio
                %h3.mb-1 Lois
                .mb-1
                  %strong Senior Stylist
                %p.small-text Lois has 10 years in the hairdressing industry and has come to join us from across the Pennines. She has done session work with Kevin Murphy and trained to a high standard with Aveda. Being a blonde bombshell herself it is also her signature, she loves blondes! She prides herself in being professional and making her guests feel at home.
            %li.team-list__item
              .team-list__photo
                %img{src: "images/Lindsey.jpeg", alt: "Photo of Lindsey"}
              .team-list__bio
                %h3.mb-1 Lindsey
                .mb-1
                  %strong JOB TITLE
                %p.small-text Description
            %li.team-list__item
              .team-list__photo
                %img{src: "images/Nicola.jpeg", alt: "Photo of Nicola"}
              .team-list__bio
                %h3.mb-1 Nicola
                .mb-1
                  %strong Beauty Therapist
                %p.small-text Nicola has 16years behind her in the beauty industry as a therapist and nail technician and offers a wide range of treatments within the salon. Client care is very important to Nicola and she aims to offer bespoke treatments that are tailored to each individuals needs.

    #section-aveda
      .section-aveda.section-aveda--dark
        .section-aveda__background--1
        .row
          .col-half.col-half-left.section-aveda__text.section-aveda__text--dark
            %h3 Aveda
            %p.paragraph-margin Here is a little information on why we think Aveda is so great! 

            %p The art and science of pure flower and plant essences is the core of Aveda. Our beauty products are alive with the life force of plants, and contain pure essential oils. Our solutions are so powerful we call them purescriptions™. while we specialise in hair care, we offer other plant–based products—skin care, makeup, pure-fume™, aromas and lifestyle—that are all professionally developed, clinically tested, and go to exceptional lengths to be respectful of the earth. our professional network, nearly 7,000 salons and spas worldwide, shares our commitment. ever since a hairdresser founded aveda in 1978, our products have been harvested with respect for the earth, in harmony with the web of life. 

      .section-aveda
        .section-aveda__background--2
        .row
          .col-half.col-half-right.section-about__text
            %h3 Connecting beauty, environment and well–being.

            %p.paragraph-margin Our mission at Aveda is to care for the world we live in, from the products we make to the ways in which we give back to society. At Aveda, we strive to set an example for environmental leadership and responsibility, not just in the world of beauty, but around the world.

            %p Our green ingredient promise at aveda, we continually strive to increase our use of naturally derived ingredients, i.e. those in which more than 50% of the molecule comes from a plant, non-petroleum mineral, or other natural source, like water. We set other standards for use, too, like avoiding certain types of processing. Aveda do NOT test on animals!

    // SECTION SERVICE LIST
    .section-servicelist#section-servicelist
      .row
        .col-full
          %h3.section-heading Edit Hair
      .row
        .col-half
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th Cut
              %th £
            %tr
              %td Ladies Cut and Blowdry
              %td 30
            %tr
              %td Ladies Wet Cut
              %td 21
            %tr
              %td Ladies Restyle
              %td 35
            %tr
              %td Gents Cut
              %td 16
            %tr
              %td Gents Clipper Cut
              %td 8
            %tr
              %td Kids 0-5yrs
              %td 8
            %tr
              %td 5-12yrs Boys
              %td 10.50
            %tr
              %td 5-12yrs Girls wet cut
              %td 12.50
            %tr
              %td 13-16yrs Girls (including blowdry)
              %td 18
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th Styling
              %th £
            %tr
              %td Ladies Long Hair Blowdry
              %td 20
            %tr
              %td Ladies Medium Hair Blowdry
              %td 18
            %tr
              %td Ladies Short Hair Blowdry
              %td 16
            %tr
              %td Curled
              %td 15
            %tr
              %td Hair up
              %td 28
            %tr
              %td Cloud 9 The O
              %td 18
        .col-half
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th Colour
              %th £
            %tr
              %td Roots
              %td 28
            %tr
              %td Full Head Colour
              %td 34
            %tr
              %td T-section foils
              %td 29
            %tr
              %td T-section foils and Roots
              %td 39
            %tr
              %td Half Head foils
              %td 36
            %tr
              %td Half Head foils and Roots
              %td 46
            %tr
              %td Full Head foils
              %td 43
            %tr
              %td Full Head foils and Roots
              %td 53
            %tr
              %td Balayage
              %td POC
            %tr
              %td Glossing
              %td 15
            %tr
              %td Toner
              %td 12
            %tr
              %td Prelightner and toner
              %td 38.50
            %tr
              %td Colour Correction
              %td POA
            %tr
              %td Hair Extentions
              %td POA
            %tr
              %td Treatments
              %td 10
      .row
        .col-full
          %h3.section-heading Edit Nails
      .row
        .col-half
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th Nails
              %th £
            %tr
              %td Full set Acrylic Extentions with gel
              %td 45
            %tr
              %td Full set Acrylic Extentions
              %td 35
            %tr
              %td Acrylic Overlay on Natural Nails
              %td 25
            %tr
              %td White Rebalance
              %td 25
            %tr
              %td Pink Rebalance
              %td 20
            %tr
              %td Acrylic Toes
              %td 20
            %tr
              %td Acrylic Removal
              %td 10
            %tr
              %td Acrylic Repair
              %td 3
        .col-half
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th Gel
              %th £
            %tr
              %td Gel Nails
              %td 20
            %tr
              %td Gel Toes
              %td 20
            %tr
              %td Gel Fingers and Toes
              %td 35
            %tr
              %td Gel Removal
              %td 6
            %tr
              %td Gel Repair
              %td 3
            %tr
              %td Manicure with Gel
              %td 26
            %tr
              %td Pedicure with Gel
              %td 30
            %tr
              %td Manicure
              %td 16
            %tr
              %td Pedicure
              %td 20
            %tr
              %td File Cuticle and Polish (nails or toes)
              %td 12
            %tr
              %td File and Paint (nails or toes)
              %td 10
            %tr
              %td Nail Art
              %td POA
      .row
        .col-full
          %h3.section-heading Edit Beauty
      .row
        .col-half
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th
              %th £
            %tr
              %td Aveda 30min facial
              %td 30
            %tr
              %td Eyelash Perming
              %td 20
            %tr
              %td Eyebrow Wax and Tint
              %td 11
            %tr
              %td Eyelash Tint
              %td 8
            %tr
              %td Eyebrow Wax
              %td 6.50
            %tr
              %td Eyebrow Tint
              %td 6
            %tr
              %td Lip wax
              %td 6
            %tr
              %td Chin wax
              %td 6
            %tr
              %td Bikini
              %td From 8
            %tr
              %td Full Leg including Bikini
              %td 22
            %tr
              %td Hollywood
              %td 22
            %tr
              %td Brazilian
              %td 18
            %tr
              %td Back or Chest
              %td From 18
            %tr
              %td Full Leg
              %td 17
            %tr
              %td Half Leg
              %td 12
            %tr
              %td Full Arm
              %td 12
            %tr
              %td Forearm
              %td 10
            %tr
              %td Under Arm
              %td 7
        .col-half
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th
              %th £
            %tr
              %td Full Body Hot Stones
              %td 40
            %tr
              %td Body Massage Full Swedish
              %td 35
            %tr
              %td Hot Stones Back Massage
              %td 27
            %tr
              %td Swedish Back Massage
              %td 22
            %tr
              %td Hopi Ear
              %td 25
            %tr
              %td Whitetobrown spray tan
              %td 18
            %tr
              %td Whitetobrown spray tan (3 sessions block booking)
              %td 45
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th
                Aveda Facials
                %br
                .small-text All facials include a thorough consultation and hot towel compressions to the feet
              %th £
            %tr
              %td
                %strong Perfecting Plant Peel (45mins)
                %br
                %br
                This facial treatment helps re-texturise skin, smooth fine lines, minimise the look of pores and restore radiance. The facial can be performed as a stand alone treatment or added to any other facial whenever the skin needs deep exfoliation and radiance. This facial has the benefits of a 30% glycolic peel procedure without the redness or irritation. It’s also amazing for people who suffer with ache skin. A course of 4 is advised for the best results having each facial 7-10 days apart.
                %br
                %br
                %i.small-text *Add onto any other facial treatment for an extra £15
              %td 30*
            %tr
              %td
                %strong Tulasara Facial Treatments
                %br
                %br
                Dry, oily, ageing, sensitive and Acneic skin conditions can be addressed with a customised Tulasara facial designed to balance skin and reveal its natural beauty.
                %br
                %br
                1hour 45mins - customised facial with 30mins intensive work on your main area of focus or additional work on second focus
                %br
                %br
                1hour 15mins - customised facial with 20mins intensive work on one area of focus
                %br
                %br
                45mins - customised facial with work on one area of focus. This is most effective in a course of treatments
            %tr
              %td
                %strong Tulasara Radiant Awakening Ritual (15mins)
                %br
                %br
                A perfect addition to the Tulasara facials and perfecting plant peel treatment to nourish the skin and improve radiance. The 100% naturally derived oil containing 6 plant oils is used after dry brushing the skin which gently exfoliates and increases circulation.
                %br
                %br
                %i.small-text *When added to any other facial
              %td
                10*

      .row
        .col-xs-12
          .price-list-cta
            %h3.text-center
              We also sell gift vouchers!

    // SECTION GALLERY
    .section-gallery#section-gallery
      #instafeed
      #load-more
        .sr-only Load more images in feed

    // SECTION PRODUCTS
    .section-products
      .row
        .section-products__table
          .section-products__table-cell
            %img{src: "images/product-whitetobrown.png", alt: "Product logo for white to brown"}
          .section-products__table-cell
            %img{src: "images/product-aveda.png", alt: "Product logo for Aveda"}
          .section-products__table-cell
            %img{src: "images/product-moroccan.png", alt: "Product logo for Moroccan"}

    // SECTION CONTACT
    .section-contact#section-contact
      .row
        .col-half.section-contact__text
          %h3 How to find us
          %p.paragraph-margin
            40 Main Street
            %br
            Aughton
            %br
            Sheffield
            %br
            S26 3XJ

          %p
            Tel:
            %a{href: "tel:+441142879721"} 0114 287 9721

      .section-contact__map
        %a{href: "https://www.google.co.uk/maps/place/40+Main+St,+Aughton,+Sheffield,+South+Yorkshire+S26/@53.3735446,-1.3178727,17z/data=!4m2!3m1!1s0x48799e064a9277f7:0x44a6fa4c125c00af", class: "section-contact__map--overlay", target: "_blank"}
        #map

    // SECTION FOOTER
    .section-footer
      .row
        %h3 Follow us on
        %ul.list-social
          %li
            %a{href: "https://www.facebook.com/abbyjohnsonhair", id: "list-social--facebook"} Link to Facebook
          %li
            %a{href: "https://instagram.com/editsalon1/", id: "list-social--instagram"} Link to Instagram
          %li
            %a{href: "https://twitter.com/edit_salon", id: "list-social--twitter"} Link to Twitter
        %p.small-text
          Edit Salon - 40 Main Street, Aughton, Sheffield, S26 3XJ - Website by
          %a{href: "http://www.jrk-design.co.uk/"} JRK Design

  %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300", :rel => "stylesheet"}
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js", :type => "text/javascript"}
  %script{:src => "js/min/instafeed-min.js"}
  %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}
  %script{:src => "js/min/scripts-min.js"}

  -# :javascript
    // Typekit fonts
    (function(d) {
      var config = {
        kitId: 'xqm2njv',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
