!!! 5
%html
  /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %head
    %meta{:charset => "UTF-8"}
    %title= "EDIT | Hair and beauty salon in Sheffield"
    %meta{:content => "Edit salon is a hairdressing and beauty salon based in Aston, Sheffield.", :name => "Description"}
    %meta{:content => "hairdressing, salon, beauty, hairdressing in rotherham, hairdressing in sheffield, hairdressers, hairdressers in rotherham, hairdressers in sheffield, hair cut, barbers, stylist", :name => "keywords"}
    %link{:href => "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "/apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "/favicon-194x194.png", :rel => "icon", :sizes => "194x194", :type => "image/png"}
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "/android-chrome-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/manifest.json", :rel => "manifest"}
    %link{:color => "#5bbad5", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}
    %meta{:content => "#da532c", :name => "msapplication-TileColor"}
    %meta{:content => "/mstile-144x144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#ffffff", :name => "theme-color"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}

  %body
    %header
      %nav
        %ul.nav-links
          %li.nav-link
            %a{href: "#section-about"}
              About
              %span.hidden-sm us
          %li.nav-link
            %a{href: "#section-servicelist"}
              Service
              %span.hidden-sm list
          %li.nav-link
            %a{href: "#section-gallery"}
              Gallery
          %li.nav-link
            %a{href: "#section-contact"}
              Contact
              %span.hidden-sm us
  .content
    .section-hero#hero
      %a{href: "#section-about", class: "section-hero__scroll scroll"} Scroll down the page
      .table-cell
        .row
          %h1.section-hero__logo
            %img{src: "images/hero-logo.png", alt: "Edit Salon logo"}
            .sr-only Welcome to Edit Salon, hair and beauty

    // SECTION ABOUT
    #section-about
      .section-times
        .row
          %h3 Opening times
          .times-container
            .times-item.hide
            .times-item.hide
            .times-item
              .times-day__heading
                Tuesday
                .visible-sm /
              .times-day__detail
                %div
                  %span.hidden-sm Open -
                  9:00
                %div
                  %span.hidden-sm Close
                  \- 17:00
            .times-item
              .times-day__heading
                Wednesday
                .visible-sm /
              .times-day__detail
                %div
                  %span.hidden-sm Open -
                  9:00
                %div
                  %span.hidden-sm Close
                  \- 20:00
            .times-item
              .times-day__heading
                Thursday
                .visible-sm /
              .times-day__detail
                %div
                  %span.hidden-sm Open -
                  9:00
                %div
                  %span.hidden-sm Close
                  \- 20:00
            .times-item
              .times-day__heading
                Friday
                .visible-sm /
              .times-day__detail
                %div
                  %span.hidden-sm Open -
                  9:00
                %div
                  %span.hidden-sm Close
                  \- 18:00
            .times-item
              .times-day__heading
                Saturday
                .visible-sm /
              .times-day__detail
                %div
                  %span.hidden-sm Open -
                  9:00
                %div
                  %span.hidden-sm Close
                  \- 16:00

      .section-about
        .section-about__background
        .row
          .col-half.col-half-right.section-about__text
            %h3 Who we are
            %p.paragraph-margin Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur justo eu tortor ultricies, non convallis lacus egestas. Donec bibendum nisi ut efficitur rhoncus. Cras non efficitur velit, vitae finibus elit. Curabitur ornare urna id lorem ultrices fermentum. Ut aliquet dapibus dictum. Duis consectetur quis eros a ornare.

            %p
              Call us to book:
              %a{href: "tel:+441142879721"} 0114 287 9721

    // SECTION SERVICE LIST
    .section-servicelist#section-servicelist
      .row
        .col-half
          %h3.text-center Edit Hair
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th Cut
              %th £
            %tr
              %td Ladies Cut and Blowdry
              %td 30
            %tr
              %td Ladies Wet Cut
              %td 21
            %tr
              %td Gents Cut
              %td 16
            %tr
              %td Gents Clipper Cut
              %td 8
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th Styling
              %th £
            %tr
              %td Ladies Long Hair Blowdry
              %td 20
            %tr
              %td Ladies Medium Hair Blowdry
              %td 18
            %tr
              %td Ladies Short Hair Blowdry
              %td 16
            %tr
              %td Curled
              %td 15
            %tr
              %td Hair up
              %td 28
            %tr
              %td Cloud 9 The O
              %td 18
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th Colour
              %th £
            %tr
              %td Roots
              %td 27
            %tr
              %td Full Head Colour
              %td 32
            %tr
              %td T-section foils
              %td 29
            %tr
              %td Half Head foils
              %td 36
            %tr
              %td Full Head foils
              %td 43
            %tr
              %td Balayage
              %td 42
            %tr
              %td Glossing
              %td 15
            %tr
              %td Toner
              %td 12
            %tr
              %td Prelightner and toner
              %td 36
            %tr
              %td Colour Correction
              %td POA
            %tr
              %td Hair Extentions
              %td POA
        .col-half
          %h3.text-center Edit Nails
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th Nails
              %th £
            %tr
              %td File and Polish
              %td 10
            %tr
              %td Gel Polish
              %td 20
            %tr
              %td Gel Toes
              %td 20
            %tr
              %td Gel Removal
              %td 6
            %tr
              %td Full set Acrylic Extentions
              %td 35
            %tr
              %td Full set Acrylic Extentions with gel
              %td 45
            %tr
              %td Acrylic Sculpture
              %td 40
            %tr
              %td Acrylic Removal
              %td 10
            %tr
              %td Acrylic Overlay on Natural Nails
              %td 25
            %tr
              %td Infills
              %td 20
            %tr
              %td Acrylic Repair
              %td 3
            %tr
              %td Crystal Toes
              %td 45
            %tr
              %td Crystal Toe and Gel
              %td 30
            %tr
              %td Gel Fingers and Toes
              %td 35
            %tr
              %td Nail Art
              %td POA
          %h3.text-center Edit Make-up
          %table.table-pricing
            %tr.table-pricing__no-bg
              %th Make-up
              %th £
            %tr
              %td Full makeup application
              %td 30
            %tr
              %td Just eyes
              %td 20
            %tr
              %td Extended makeup session
              %td 40
            %tr
              %td All above with eyelashes
              %td + 5
            %tr
              %td All above with HD Airbrush makeup
              %td + 10
            %tr
              %td Basic Makeup Lesson
              %td 50
            %tr
              %td Advanced Makeup Lesson (minimum of 2 looks)
              %td 100
          %p.small-text Bridal and HD Airbrush Makeup a speciality - please enquire for prices.
          %p.small-text Tattoo coverage using HD Airbrushing - please enquire for prices.

    // SECTION GALLERY
    .section-gallery#section-gallery
      #instafeed
      #load-more
        .sr-only Load more images in feed

    // SECTION PRODUCTS
    .section-products
      .row
        .section-products__table
          .section-products__table-cell
            %img{src: "images/product-evo.png", alt: "Product logo for Evo"}
          .section-products__table-cell
            %img{src: "images/product-balmain.png", alt: "Product logo for Balmain"}
          .section-products__table-cell
            %img{src: "images/product-wella.png", alt: "Product logo for Wella"}
          .section-products__table-cell
            %img{src: "images/product-loreal.png", alt: "Product logo for Loreal"}
          .section-products__table-cell
            %img{src: "images/product-moroccan.png", alt: "Product logo for Moroccan"}

    // SECTION CONTACT
    .section-contact#section-contact
      .row
        .col-half.section-contact__text
          %h3 How to find us
          %p.paragraph-margin
            40 Main Street
            %br
            Aughton
            %br
            Sheffield
            %br
            S26 3XJ

          %p
            Tel:
            %a{href: "tel:+441142879721"} 0114 287 9721

      .section-contact__map
        %a{href: "https://www.google.co.uk/maps/place/40+Main+St,+Aughton,+Sheffield,+South+Yorkshire+S26/@53.3735446,-1.3178727,17z/data=!4m2!3m1!1s0x48799e064a9277f7:0x44a6fa4c125c00af", class: "section-contact__map--overlay", target: "_blank"}
        #map

    // SECTION FOOTER
    .section-footer
      .row
        %h3 Follow us on
        %ul.list-social
          %li
            %a{href: "https://www.facebook.com/abbyjohnsonhair", id: "list-social--facebook"} Link to Facebook
          %li
            %a{href: "https://instagram.com/editsalon1/", id: "list-social--instagram"} Link to Instagram
        %p.small-text
          Edit Salon - 40 Main Street, Aughton, Sheffield, S26 3XJ - Website by
          %a{href: "http://www.jrk-design.co.uk/"} JRK Design

  %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js", :type => "text/javascript"}
  %script{:src => "js/min/instafeed-min.js"}
  %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}
  %script{:src => "js/min/scripts-min.js"}

  :javascript
    // Typekit fonts
    (function(d) {
      var config = {
        kitId: 'xqm2njv',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
