.section-footer {
  background-color: #1B1B1B;
  text-align: center;
  padding: 30px 0 20px;
  @include media-query(sm) {
    padding: 80px 0 30px;
  }
}
.list-social {
  margin-bottom: 30px;
  list-style: none;
  li {
    display: inline-block;
    a {
      display: block;
      text-indent: -99999px;
      width: 44px;
      height: 44px;
      margin: 0 10px;
      transition: all 0.3s ease;
      &:hover {
        transform: translateY(-4px);
      }
    }
  }
  @include media-query(sm) {
    margin-bottom: 80px;
  }
}
#list-social--facebook,
#list-social--instagram {
  background-repeat: no-repeat;
  background-size: 100%;
}
#list-social--facebook {
  background-image: url('../images/facebook.png');
}
#list-social--instagram {
  background-image: url('../images/instagram.png');
}
