.section-gallery {
  background-color: #1B1B1B;
  position: relative;
}
.instagram-image img {
  display: block;
}
.instagram-image:hover::after {
  content: url('../images/zoom-icon.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(176,150,108,0.8);
}
.table {
  display: table;
  height: 100%;
  width: 100%;
}
.table-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
