.section-hero {
  height: 250px;
  position: relative;
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include media-query(sm) {
    height: 720px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.5);
  }
}
