.section-hero {
  display: table;
  width: 100%;
  min-height: 250px !important;
  height: 250px;
  position: relative;
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 48px;
  @include media-query(sm) {
    min-height: 400px !important;
    height: 720px;
    padding-top: 80px;
  }
}
.section-hero__logo {
  max-width: 767px;
  margin-bottom: 20px;
  img {
    width: 100%;
  }
}
