.section-hero {
  display: table;
  width: 100%;
  min-height: 300px;
  max-height: 700px !important;
  position: relative;
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  @include media-query(sm) {
    padding-top: 80px;
    min-height: 500px;
  }
}
.section-hero__logo {
  max-width: 767px;
  margin-bottom: 20px;
  img {
    width: 100%;
  }
}
.section-hero__scroll {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -11px;
  display: block;
  width: 22px;
  height: 11px;
  background-image: url('../images/arrow.png');
  background-image: linear-gradient(transparent, transparent), url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  text-indent: -99999px;
  transition: all 0.5s ease;
  @include media-query(sm) {
    width: 44px;
    height: 23px;
    margin-left: - 22px;
    &:hover {
      transform: translateY(10px);
    }
  }
}
