.section-servicelist {
  background-color: #1B1B1B;
  padding: 30px 0;
  position: relative;
  @include media-query(sm) {
    padding: 60px 0 80px;
  }
}
.table-pricing {
  width: 100%;
  margin-bottom: 30px;
  th {
    text-align: left;
    font-size: 25px;
    line-height: 29px;
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid #606060;
    padding: 0 10px 10px;
    + th {
      width: 50px;
      text-align: center;
    }
  }
  td {
    font-size: 14px;
    padding: 15px 10px;
    + td {
      width: 50px;
      text-align: center;
    }
  }
  tr {
    &:nth-child(even) {
      background-color: #262626;
    }
  }
}
.table-pricing__no-bg {
  background-color: transparent !important;
}
.table-pricing__bg {
  background-color: #262626 !important;
}
.price-list-cta {
  margin-top: 30px ;
  @include media-query(sm) {
    margin-top: 80px;
  }
}
