.section-team {
  background: #FFFFFF;
}
.section-team__container {

}
.team-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.team-list__item {
  flex: 1 1 50%;

  @include media-query(sm) {
    flex-basis: 33%;
  }
}
.team-list__photo img {
  width: 100%;
}
.team-list__bio {
  padding: 15px;
}
