.section-times {
  background-color: #1B1B1B;
  padding: 30px 0 40px;
  text-align: center;
  @include media-query(sm) {
    padding: 80px 0 100px;
  }
}
.times-container {
  display: block;
  font-family: 'refrigerator-deluxe', sans-serif;
  text-transform: uppercase;
  @include media-query(sm) {
    display: flex;
  }
}
.times-item {
  display: block;
  width: 100%;
  background: #262626;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px 0;
  &:not(:last-child) {
    margin-right: 30px;
  }
  &.active {
    border: 1px solid #B19569;
  }
  @include media-query(sm) {
    display: inline-block;
    width: 20%;
    margin-bottom: 0;
    padding: 0;
  }
}
.times-day__heading {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  position: relative;
  display: inline-block;
  @include media-query(sm) {
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    display: block;
    padding: 30px 0;
  }
  &:after {
    content: " ";
    display: none;
    width: 80%;
    height: 1px;
    background: #606060;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40%;
    @include media-query(sm) {
      display: block;
    }
  }
}
.times-day__detail {
  padding: 0;
  font-weight: 300;
  display: inline-block;
  @include media-query(sm) {
    font-weight: 400;
    display: block;
    padding: 20px 0;
  }
  div {
    padding: 0;
    display: inline-block;
    @include media-query(sm) {
      display: block;
      padding: 20px 0;
    }
  }
}
